asgiref==3.2.3
astroid==2.3.3
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.13.2
colorama==0.4.3
cssselect2==0.2.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.1.6
django-heroku==0.3.1
django-tastypie==0.14.2
gunicorn==20.0.4
html5lib==1.0.1
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pdfkit==0.6.1
pdfminer==20191125
Pillow==6.2.1
psycopg2==2.8.4
pycparser==2.19
pycryptodome==3.9.4
pylint==2.4.4
PyPDF2==1.26.0
Pyphen==0.9.5
python-dateutil==2.8.1
python-mimeparse==1.6.0
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
tinycss2==1.0.2
typed-ast==1.4.0
WeasyPrint==50
webencodings==0.5.1
whitenoise==5.0.1
wrapt==1.11.2
