{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Arvo|Bree+Serif&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'CSS/clear_stylesheet.css' %}">
</head>
<body>

<div class="header" id="myHeader">
  <a href="{% url 'home' %}">
    TapSearch
  </a>
</div>

<div class="content">
  <h4>Index and all indexed documents have been cleared.</h4>
</div>

<script src="{% static 'JS/home_js1.js' %}"></script>

</body>
</html>